@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "Satoshi-Black";
  src: url("./fonts//Satoshi-Black.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi-medium";
  src: url("./fonts//Satoshi-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.ff_satoshi_black {
  font-family: "Satoshi-Black";
}

.ff_satoshi_medium {
  font-family: "Satoshi-medium";
}

.ff_inter {
  font-family: 'Inter', sans-serif;
}

/*HEADER CSS START HERE==================================*/
.log_in_btn_bg {
  background: var(--Gradient, linear-gradient(143deg, #FB981D 0%, #FB6609 89.88%));
}

.log_in_btn_bg:hover {
  background: var(--Gradient, linear-gradient(143deg, #FB6609 0%, #FB981D 89.88%));
}

@media (max-width:639.98px) {
  .logo_img {
    width: 33px;
    height: 23px;
  }
}