@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "Satoshi-Black";
  src: url("../../public/assets/fonts/Satoshi-Black.otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi-medium";
  src: url("../../public/assets/fonts/Satoshi-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.ff_satoshi_black {
  font-family: "Satoshi-Black";
}

.ff_satoshi_medium {
  font-family: "Satoshi-medium";
}

.ff_inter {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #FB6609;
  /* Change this to the desired color */
}

/*HEADER CSS START HERE==================================*/
.log_in_btn_bg {
  background: var(--Gradient, linear-gradient(143deg, #FB981D 0%, #FB6609 89.88%));
}

.log_in_btn_bg:hover {
  background: var(--Gradient, linear-gradient(143deg, #FB6609 0%, #FB981D 89.88%));
}

.footer_social_icons:hover svg path {
  transition: all 0.3s ease-in-out;
}

.footer_social_icons:hover svg path {
  fill: #FB6609;
}

@keyframes slider {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(70rem, 0, 0);
  }
}

.img-ticker {
  animation: slider 16s linear infinite;
}

.text_border {
  -webkit-text-stroke: 1px black;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.slider_text,
.slider_text2 {
  animation: textSCroll 60s linear infinite;
}

.slider_text {
  animation-delay: -60s;
}

.slider_text2 {
  animation-delay: -30s;
}

@keyframes textSCroll {
  0% {
    transform: translateX(-2725px) translateY(-50%);
  }

  100% {
    transform: translateX(2985px) translateY(-50%);
  }
}

.moving_annimation {
  animation: moving 6s infinite linear;
}

@keyframes moving {
  0% {
    transform: translateX(0px);
  }

  40% {
    transform: translateY(30px);
  }

  70% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0px);
  }
}

@media (max-width:639.98px) {
  .logo_img {
    width: 33px;
    height: 23px;
  }

  @keyframes textSCroll {
    0% {
      transform: translateX(-2010px) translateY(-50%);
    }

    100% {
      transform: translateX(2010px) translateY(-50%);
    }
  }

}