@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Satoshi-Black";
  src: url("../../public/assets/fonts/Satoshi-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../../public/assets/fonts/Satoshi-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi-medium";
  src: url("../../public/assets/fonts/Satoshi-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.ff_satoshi_bold {
  font-family: "Satoshi-bold";
}

.ff_satoshi_black {
  font-family: "Satoshi-Black";
}

.ff_satoshi_medium {
  font-family: "Satoshi-medium";
}

.ff_inter {
  font-family: "Inter", sans-serif;
}

.ff_poppins {
  font-family: "Poppins", sans-serif;
}

body,
html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

/* SCROLL BAR DESIGN CSS START HERE==================================*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fb6609;
  border-radius: 8px;
}

/*HEADER CSS START HERE==================================*/
.log_in_btn_bg {
  background: var(--Gradient,
      linear-gradient(143deg, #fb981d 0%, #fb6609 89.88%));
}

.log_in_btn_bg:hover {
  background: var(--Gradient,
      linear-gradient(143deg, #fb6609 0%, #fb981d 89.88%));
}

/* FOOTER CSS START HERE==================================*/

.footer_social_icons:hover svg path {
  transition: all 0.3s ease-in-out;
}

.footer_social_icons:hover svg path {
  fill: #fb6609;
}

/* SLIDER CSS START HERE==================================*/
.text_border {
  -webkit-text-stroke: 1.5px black;
}

.text-stroke {
  -webkit-text-stroke: 0.79px white;
}

.slider_text,
.slider_text2 {
  animation: textSCroll 60s linear infinite;
}

.slider_text {
  animation-delay: -60s;
}

.slider_text2 {
  animation-delay: -30s;
}

@keyframes textSCroll {
  0% {
    transform: translateX(-2625px) translateY(-50%);
  }

  100% {
    transform: translateX(2789px) translateY(-50%);
  }
}

.moving_annimation {
  animation: moving 6s infinite linear;
}

@keyframes moving {
  0% {
    transform: translateX(0px);
  }

  40% {
    transform: translateY(30px);
  }

  70% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(0px);
  }
}

.popup_cross_icon svg {
  width: 15px;
  height: 15px;
}

.popup_cross_icon:hover svg path {
  transition: all 0.3s ease-in-out;
  fill: #fb6609;
}

/* FAQ SECTION */
.accordion_item[data-state="open"] {
  transition: all 300ms ease-in-out;
  border: 1px solid black;
  padding-bottom: 15px !important;
  box-shadow: 6px 6px 0px 0px #000;
}

.AccordionItem[data-state="closed"] {
  transition: all 300ms ease-in-out;
  border: 1px solid #808080;
}

.AccordionTrigger[data-state="closed"]>.faq_arrow {
  transform: rotate(180deg);
}

.input-no-spinner {
  -moz-appearance: textfield;
}

.input-no-spinner::-webkit-inner-spin-button,
.input-no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.accordion_item[data-state="closed"] {
  transition: all 300ms ease-in-out;
  border: 1px solid #808080;
}

.accordion_trigger[data-state="closed"]>.faq_arrow {
  transform: rotate(180deg);
}

.accordion_content {
  overflow: hidden;
}

.accordion_content[data-state="open"] {
  animation: slideDown 300ms ease-out;
}

.accordion_content[data-state="closed"] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

/* MEDIA QUERIES CSS START HERE==================================*/

@media (max-width: 639.98px) {
  .AccordionItem[data-state="closed"] {
    border: 1px solid black;
    box-shadow: 6px 6px 0px 0px #000;
  }

  .logo_img {
    width: 33px;
    height: 23px;
  }

  .footer_social_icons svg {
    width: 33px;
    height: 33px;
  }

  @keyframes textSCroll {
    0% {
      transform: translateX(-1900px) translateY(-50%);
    }

    100% {
      transform: translateX(1900px) translateY(-50%);
    }
  }
}

/* SIDEBAR  */
.icon_active svg path {
  fill: #fb6609;
}

.edit_hover:hover svg path {
  stroke: #fb6609;
}

.eye_hover:hover svg path {
  fill: #fb6609;
}

.Scroll_bar_none::-webkit-scrollbar {
  display: none;
}